 body, html{
   background-color: rgb(120, 120, 243);
 }
 header{
     text-align: center;
     padding: 10px;
     background: rgb(156, 184, 236);
     color: rgb(0, 0, 0);
     font-size: 40px;
     border-radius: 20px;
 }
 

 nav ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(120, 120, 243);
 
}

nav ul a{
  
    text-decoration: none;
}


li{  
  
    float: left;
   
  }

  li a{
    display: block;
    color: rgb(244, 249, 250);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
  }

li a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size:18px;
    border-radius: 20px;
  }

  li a:active{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size:17px;
    border-style: inset;
    border-color:white;

  }
  